.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.img
*.log
*.img-zImage
*.xz
*.lz4
*.lzo
*.img-dtb
*.patch
*.gcno
*.dtb
*.dts
modules.builtin
Module.symvers
*.dwo
/.git
/unknown
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/build
/output
/System.map
/Module.markers
/build_kernel
!.gitignore
!.mailmap
include/config
include/generated
arch/*/include/generated
patches-*
patches
series
cscope.*
ncscope.*
GPATH
GRTAGS
GSYMS
GTAGS
*.rej
*.orig
*~
\#*#
dts.sh
cpu
fips_fmp_utils
*.patch
ramdisk/SM-G920F/boot.img
ramdisk/SM-G920F/split_img/boot.img-zImage
security/selinux/av_permissions.h
security/selinux/flask.h
arch/arm64/boot/boot.img-dtb
arch/arm64/boot/dtb/
extra_certificates
signing_key.priv
signing_key.x509
x509.genkey
all.config
build.log
build.sh
toolchain
version
git_command.txt
output/
