on property:sys.boot_completed=1    

    # Stock GPU values
    write /sys/devices/14ac0000.mali/dvfs_governor interactive
    write /sys/devices/platform/gpusysfs/gpu_min_clock 266
    write /sys/devices/platform/gpusysfs/gpu_max_clock 700

    # Set TCP
    write /proc/sys/net/ipv4/tcp_congestion_control westwood

    # I/O management
    write /sys/block/sda/queue/scheduler row	
    write /sys/block/sda/queue/rotational 0
    write /sys/block/sda/queue/nr_requests 256
    write /sys/module/sync/parameters/fsync_enabled 0

    # Misc
    write /sys/kernel/sched/gentle_fair_sleepers 0
    write /sys/kernel/sched/arch_power 1
    write /sys/module/workqueue/parameters/power_efficient 1	

