on property:sys.boot_completed=1    

    # Stock GPU values
    write /sys/devices/14ac0000.mali/dvfs_governor interactive
    write /sys/devices/platform/gpusysfs/gpu_min_clock 266
    write /sys/devices/platform/gpusysfs/gpu_max_clock 700

    # Set TCP
    write /proc/sys/net/ipv4/tcp_congestion_control westwood

    # I/O management
    write /sys/block/sda/queue/scheduler row	
    write /sys/block/sda/queue/rotational 0
    write /sys/block/sda/queue/rq_affinity 2
    write /sys/block/sda/queue/add_random 0
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/bdi/min_ratio 5
    write /sys/module/sync/parameters/fsync_enabled 0

    # Disable Wakelocks
    write /sys/module/wakeup/parameters/enable_sensorhub_wl 0
    write /sys/module/wakeup/parameters/enable_ssp_wl 0
    write /sys/module/wakeup/parameters/enable_wlan_rx_wake_wl 0
    write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_wl 0
    write /sys/module/wakeup/parameters/enable_wlan_scan_wake_wl 0
    write /sys/module/wakeup/parameters/enable_wlan_wake_wl 0
    write /sys/module/wakeup/parameters/enable_netlink_wl 0
    write /sys/module/wakeup/parameters/enable_wlan_pm_wake_wl 0
    write /sys/module/wakeup/parameters/enable_wlan_txfl_wake_wl 0	

    # Misc
    write /sys/kernel/sched/gentle_fair_sleepers 0
    write /sys/kernel/sched/arch_power 1
    write /sys/module/workqueue/parameters/power_efficient 1	

