# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on early-init
    write /sys/block/sda/queue/scheduler row
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive

on property:sys.boot_completed=1

    # Allow system to modify ksm control files
    #chown root system /sys/kernel/mm/ksm/pages_to_scan
    #chmod 0666 /sys/kernel/mm/ksm/pages_to_scan
    #chown root system /sys/kernel/mm/ksm/sleep_millisecs
    #chmod 0666 /sys/kernel/mm/ksm/sleep_millisecs
    #chown root system /sys/kernel/mm/ksm/run
    #chmod 0666 /sys/kernel/mm/ksm/run
    #write /sys/kernel/mm/ksm/sleep_millisecs 500
    #write /sys/kernel/mm/ksm/pages_to_scan 100 
    #write /sys/kernel/mm/uksm/cpu_governor low

    # Allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0666 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
    chmod 0666 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    chmod 0666 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
    chmod 0666 /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    chmod 0666 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu5/cpufreq/scaling_governor
    chmod 0666 /sys/devices/system/cpu/cpu5/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor
    chmod 0666 /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor
    chmod 0666 /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor

    # Assume SMP uses shared cpufreq policy for all CPUs
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0666 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0666 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown root system /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chmod 0666 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
    chmod 0666 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
    chown root system /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
    chmod 0666 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
    chmod 0666 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
    chown root system /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
    chmod 0666 /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
    chmod 0666 /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
    chown root system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0666 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chmod 0666 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chown root system /sys/devices/system/cpu/cpu5/cpufreq/scaling_max_freq
    chmod 0666 /sys/devices/system/cpu/cpu5/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu5/cpufreq/scaling_min_freq
    chmod 0666 /sys/devices/system/cpu/cpu5/cpufreq/scaling_min_freq
    chown root system /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq
    chmod 0666 /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq
    chmod 0666 /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq
    chown root system /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq
    chmod 0666 /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq
    chmod 0666 /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq

    # Min freq values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 400000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 400000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 400000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 400000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 800000
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_min_freq 800000
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 800000
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq 800000

    # Max freq values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1600000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1600000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1600000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1600000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2200000
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_max_freq 2200000
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq 2200000
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 2200000

    # Set default TCP Congestion Controller
    write /proc/sys/net/ipv4/tcp_congestion_control westwood

    # I/O management
    write /sys/block/sda/queue/rotational 0
    write /sys/block/sda/queue/rq_affinity 2
    write /sys/block/sda/queue/add_random 0
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/bdi/min_ratio 5

    # Disable Wakelocks
    write /sys/module/wakeup/parameters/enable_sensorhub_wl 0
    write /sys/module/wakeup/parameters/enable_ssp_wl 0
    write /sys/module/wakeup/parameters/enable_wlan_rx_wake_wl 0
    write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_wl 0
    write /sys/module/wakeup/parameters/enable_wlan_wake_wl 0
    write /sys/module/wakeup/parameters/enable_bluedroid_timer_wl 0

    # Misc
    write /sys/kernel/sched/gentle_fair_sleepers 0
    write /sys/module/sync/parameters/fsync_enabled 0
    write /sys/module/workqueue/parameters/power_efficient 1
    write /sys/kernel/sched/arch_power 0

    # Use More optimized nr_requests for UFS
    write /sys/block/sda/queue/nr_requests 256
