#!/system/bin/sh

cat << CTAG
{
    name:Network,
    elements:[
    	{ SPane:{
		title:"Save WiFi Passwords",
		description:" Save your WiFi Passowords under /sdcard/hackerkernel."
    	}},
	{ SDescription:{
		description:""
	}},
	{ SButton:{
		label:"Save WiFi Passwords",
		action:"network wifi_passwords"
	}},
	{ SDescription:{
		description:""
	}},
	{ SButton:{
		label:"Restore WiFi Passwords",
		action:"network wifi_passwords_restore"
	}},
	{ SDescription:{
		description:""
	}},
	{ SSpacer:{
		height:1
	}},
	{ SPane:{
		title:"TCP Congestion Control",
		description:" Select your preferred WIFI TCP algorithm. Regulates upload and download affecting throughput in various ways. Default is Westwood+."
    	}},
	{ SSpacer:{
		height:1
	}},
	{ SOptionList:{
		default:`cat proc/sys/net/ipv4/tcp_congestion_control`,
		action:"generic proc/sys/net/ipv4/tcp_congestion_control",
		values:[`while read values; do busybox printf "%s, \n" $values; done < proc/sys/net/ipv4/tcp_available_congestion_control`]
	}},
	{ SSpacer:{
		height:1
	}},
    ]
}
CTAG
